.ng {
    font-weight:bold;
}

.producto{
    padding: 50px;
}

.marginTop{
    margin-top: 150px;
}

.btnespacio{
    padding: 10px;
}

.center{
    display:block;
    margin:auto;
}

.carousel-control-next-icon{
    color:black;
}

.color-fondo{
    background-color: #F2F2F2;
}
