.ng {
    font-weight:bold;
}

.producto{
    padding: 50px;
}

.center{
    display:block;
    margin:auto;
}

.carousel-control-next-icon{
    color:black;
}

div{
    border:2px solid cornflowerblue;
}

.color-fondo{
    background-color: black;
}